{#
/**
 * @file
 * Default theme implementation to display a user wall with Bootstrap styling.
 * Modified to use Match Chat's "send" button inside textarea.
 *
 * Available variables:
 * - wall_posts: A list of wall posts.
 * - post_form: The form for adding a new post.
 * - user_id: The user ID of the wall owner.
 *
 * @see template_preprocess_user_wall()
 *
 * @ingroup themeable
 */
#}
<div id="user-wall-{{ user_id }}">
  {% if post_form %}
    <div class="card shadow-sm mb-4">
      <div class="card-body">{{ post_form }}</div>
    </div>
  {% endif %}
	{% if posts_by_date %}
<div
	class="timeline">
	{# Die Schleife bleibt dieselbe #}
<div id="user-wall-posts-list">

	{% for date_string, posts_on_date in posts_by_date %}
		<div
			class="timeline-date">
			{# KORREKTUR: Verwende den 'date'-Filter, der den String 'Y-m-d' parsen kann #}
			<span><i class="bi bi-calendar-heart"></i> {{ date_string|date('d. F Y') }}</span>
		</div>

		{% for post in posts_on_date %}
			<div class="timeline-item">
				{{ post }}
			</div>
		{% endfor %}
	{% endfor %}
	</div>
</div>
{{kint()}}
{% else %}
{{kint()}}
<div class="card shadow-sm mb-4">
	<div class="card-body text-center">
{% if user.account.name == username %}
	{{'You have no posts yet.'|t}}
{% else %}
	{{username}}
	{{'has no posts yet.'|t}}
{% endif %}

{% endif %}
</div>
</div>

</div>
